# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.metals/
*.iml

# Java / Maven build output
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Node
**/node_modules/
frontend/dist/

# Docker
**/.dockerignore
